<form [formGroup]="form">
  <ion-item>
    <ion-input label="Nombre de la Pagina" labelPlacement="start" formControlName="general"></ion-input>
  </ion-item>
  <ion-segment >
    <ion-grid class="ion-grid" class="modal">
      <ion-row>
        <ion-segment-button value="Domination" (click)="segmentChanged('Domination','main')">
          <ion-label>Domination</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Sorcery" (click)="segmentChanged('Sorcery','main')" >
          <ion-label>Sorcery</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Resolve" (click)="segmentChanged('Resolve','main')">
          <ion-label>Resolve</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Inspiration" (click)="segmentChanged('Inspiration','main')">
          <ion-label>Inspiration</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Precision" (click)="segmentChanged('Precision','main')">
          <ion-label>Precision</ion-label>
        </ion-segment-button>
      </ion-row>
      <ion-row>
        <ion-segment *ngIf="mainRune=='Resolve'">
          <ion-segment-button class="secondary">
            <ion-label>Demolish</ion-label>
          </ion-segment-button>
          <ion-segment-button class="secondary">
            <ion-label>Second Breath</ion-label>
          </ion-segment-button>
          <ion-segment-button>
            <ion-label>Boneplating</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-row>
      <ion-row>
        <ion-segment *ngIf="mainRune=='Domination'">
          <ion-segment-button class="secondary">
            <ion-label>Taste of Blood</ion-label>
          </ion-segment-button>
          <ion-segment-button class="secondary">
            <ion-label>Devorous hunter</ion-label>
          </ion-segment-button>
          <ion-segment-button class="secondary">
            <ion-label>Eye Collector</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-row>
      <ion-row>
        <ion-segment *ngIf="mainRune=='Sorcery'">
          <ion-segment-button class="secondary">
            <ion-label>Gathering Storm</ion-label>
          </ion-segment-button>
          <ion-segment-button class="secondary">
            <ion-label>Nimbus Cloack</ion-label>
          </ion-segment-button>
          <ion-segment-button class="secondary">
            <ion-label>Celerity</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-row>
    </ion-grid>
  </ion-segment>
</form>