<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-input label="nombre" labelPlacement="start" formControlName="nombre" type="text"></ion-input>
  </ion-item>
  <div class="form-group">
    <label for="selectField1">Selecciona una opción:</label>
    <select id="selectField1" name="runasPrincipales" formControlName="runas_clave">
      <option [ngValue]="'opcion1'">Opción 1</option>
      <option [ngValue]="'opcion2'">Opción 2</option>
      <option [ngValue]="'opcion3'">Opción 3</option>
    </select>
  </div>
  <!-- Otros campos del formulario -->
  <button (click)="onSubmit()">Guardar</button>
</form>