.content{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    margin: auto;
}

.photo {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}