<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">about</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--Botón para volver-->
  <ion-button color="primary" fill="clear" (click)="home()">
    <ion-icon slot="icon-only" name="arrow-back-outline"/>
  </ion-button>
  
  <!--Grid de nuestra información-->
  <div class="info">
    <div class="text">
      <!--Nombre y apellidos-->
      <h1>Pablo García Muñoz</h1>
      <!--Información nombre-->
      <p>Información sobre Pablo García Muñoz, un tio serio y con cohone</p>
      <!--Cuenta de github-->
      <a href="https://github.com/PabloGM1204">GitHub</a>
    </div>
    <!--Foto-->
    <div class="photo">
      <img src="assets/img/profile/PabloProfile.png">
    </div>
    <div class="text">
      <!--Nombre y apellidos-->
      <h1>Marco Valente</h1>
      <!--Información nombre-->
      <p>Información sobre Marco Valente, un tio guapo y con estilo</p>
      <!--Cuenta de github-->
      <a href="https://github.com/Kuzafkto">GitHub</a>
    </div>
    <!--Foto-->
    <div class="photo">
      <img src="assets/img/profile/MarcoProfile.png">
    </div>
  </div>

</ion-content>
