<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>runes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">runes</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!--Botón para volver-->
  <ion-button color="primary" fill="clear" (click)="home()" shape="round">
    <ion-icon slot="icon-only" name="arrow-back-outline"/>
  </ion-button>
  
  <!--Título de la página-->
  <h1>Runas</h1>
  <ion-button fill="clear" aria-label="New User" (click)="onNewHoja()">
    <ion-icon slot="icon-only"  color="primary"  name="add-outline" aria-hidden="true"></ion-icon>
  </ion-button>
  <div  class="runas">
    <app-runas class="hoja" *ngFor="let rn of (lista.hojas$| async)" [hoja]="rn"
    (onHojaClicked)="onHojaClicked(rn)">
    </app-runas>
  </div>
  
</ion-content>
