.background {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}
ion-content {
  background-image: url("/assets/img/home_background.jpg")!important;
  --background: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

.runes {
  --background: none;
  --width: 50em;
  --border-radius: 100%;
}

.runes img {
  display: flex;
  max-height: 100%;
  max-width: 100%;
  border-radius: 100%;
}



.runes-button{
  --background:none;
  display: flex;
  position: absolute;
  left: 75%;
  width: 25%;
  padding: 2%;
  top: 25%;
  /* bottom: 25%; */
}

.about {
  --background:none;
  display: flex;
  position: absolute;
  right: 75%;
  width: 25%;
  padding: 2%;
  top: 25%;
  /* bottom: 25%; */
}

.about img {
  display: flex;
  max-height: 100%;
  max-width: 100%;
  border-radius: 100%;
}
ion-title{
  font-weight: bold;
  font-size: 3em;
  color: #C89B3C;
  background-color: #0A1428;
}