<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      RUNES
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="background">
  <ion-content [fullscreen]="true" >
    <!--Botón para ir a la página sobre nostros-->
    <ion-button (click)="about()" class="about" shaped="round">
      <img src="/assets/img/pane-pensa.png">
    </ion-button>
    <!--Botón para ir a la página runes-->


    <div class="runes-button">
      <ion-button (click)="runes()" class="runes" fill="clear">
          <img src='/assets/img/home_runesButton.png'>
      </ion-button>
    </div>
  </ion-content>
</div>

