<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!--Botón para ir a la página sobre nostros-->
  <ion-button (click)="about()">
    About
  </ion-button>
  <!--Botón para ir a la página runes-->
  <ion-button (click)="runes()">
    Runes
  </ion-button>

  <div id="container">
    <strong>Listo para crear la app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
